.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  min-height: 293px;
  height: 100%;
}

.header__nav-list {
  display: flex;
  gap: 32px;
}

.header__nav-list-item {
  list-style: circle;
  text-underline-offset: 4px;
}

.header__nav-list-item:first-child {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 184px;
  max-width: 240px;
  text-decoration: none;
  text-underline-offset: 4px;
  font-style: normal;
}

.main {
  margin-bottom: 181px;
}

.cover {
  position: relative;
  z-index: 1;
  margin-bottom: 180px;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #000;
  opacity: 60%;
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  padding-bottom: 106px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text_left {
  padding-left: 50px;
}

.aligned-text_center {
  align-self: center;
  padding-top: 20px;
  padding-left: 26px;
}

.aligned-text_right {
  align-self: flex-end;
  padding-top: 17px;
  padding-right: 20px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 20px;
  color: #FFF;
}

.bet-button {
  padding: 11px 31px;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFF;
  background: none;
  border: 1px solid #FFF;
}

.link-button {
  text-decoration: none;
}

.lots {
  margin-bottom: 153px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 64px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  text-decoration: underline
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
  padding-left: 65px;
  font-size: 20px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
}

.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 71px;
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image{
  height: 114px;
  width: 148px;
}

.about__text-container {
  padding-top: 101px;
  padding-right: 29px;
  padding-left: 72px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__address {
  margin-left: 50px;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  justify-self: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: center;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  max-height: 48px;
  max-width: 48px;
}
